div.figure-div {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

figure {

}

ul {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  list-style: none;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

li {
  float: left;
  width: 48px;
  height: 48px;
  border: 1px solid black;
}

.highlight:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.highlight {
  background-color: grey;
}

.black:after,
.white:after {
  display: block;
  /*width: 48px;
  height: 48px;*/

  /*font-size: 5em;*/
  line-height: 70px;
}

.black:after {
  /*content: "●";*/
  content: url("http://res.cloudinary.com/dptviwjop/image/upload/v1461393448/circle-32_frm1oz.jpg")
}

.white:after {
  /*content: "○";*/
  content: url("http://res.cloudinary.com/dptviwjop/image/upload/v1461393448/circle-outline-32_veibfl.jpg")
}

.black-score,
.white-score {
  clear: both;
}
